{{ if .Params.final }}
<nav class="final-page-toc">
  {{ with .TableOfContents }}
    {{- $toc := replaceRE `(?s)^\s*<nav[^>]*>\s*` "" . -}}
    {{- $toc = replaceRE `(?s)\s*</nav>\s*$` "" $toc -}}
    {{- if and $toc (ne (trim $toc " \n\r\t") "") -}}
      {{ . }}
    {{- end -}}
  {{ end }}
  <ul>
    {{ partial "final-toc-flat.html" . }}
  </ul>
</nav>
{{ else }}
  {{ with .TableOfContents }}
    {{- $toc := replaceRE `(?s)^\s*<nav[^>]*>\s*` "" . -}}
    {{- $toc = replaceRE `(?s)\s*</nav>\s*$` "" $toc -}}
    {{- if and $toc (ne (trim $toc " \n\r\t") "") -}}
      {{ . }}
    {{- end -}}
  {{ end }}
{{ end }}
